* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map {
  padding: 50px;
}
.card-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
#card {
  width: 250px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px black;
}
